.container{
    width: 1366px;
    margin: 0 auto;
}

/*header*/
.container__header{
    height: 70px;
    background-color: #669885;
}

.container__inside{
    width: 1066px;
    margin: 0 auto;
}

.start__logo{
    height: 33px;
    width: 142px;
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.sing_in_btn{
    width: 112px;
    height: 34px;
    background-color: #669885;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: "MontserratMedium", Times, serif;
    font-size: 16px;
}

.sing_in_btn:hover{
    border: 1px solid dimgrey;
}

/*section1*/

.section1{
    height: 623px;
    width: 1366px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

.container__section1{
    width: 1066px;
    height: 623px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.section1-left{
    width: 614px;
    height: 596px;
}

.section1-right{
    width: 452px;
    height: 596px;
    background-image: url("./images/dog.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text1{
    margin-top: 99px;
    width: 485px;
    height: 204px;
    font-family: "MontserratMedium", Times, serif;
    font-size: 54px;
    color: #393939;

}
.text1 p{
    margin-top: 0px;
    margin-bottom: 10px;
}

.text1:after{
    content: url("./images/lupa_lapa.svg");
    display: block;
    position: absolute;
    height: 93px;
    width: 70px;
    left: 495px;
    top: 445px;
    z-index: 5;


}

.text1-green{
    color: #84B6A3;
}

.text2{
    margin-top: 50px;
    width: 300px;
    height: 93px;
    font-family: "MontserratMedium", Times, serif;
    font-size: 32px;
    color: #393939;
    background-color: #FFE18B;
    padding-top: 24px;
    position: relative;

}

.text2:before{
    content: "";
    display: block;
    position: absolute;
    height: 93px;
    width: 150px;
    background-color:  #FFE18B;
    transform: translate(-100%, -25%);
}

.text2:after{
    content: "";
    display: block;
    position: absolute;
    height: 93px;
    width: 70px;
    background-color: #FFE18B;
    transform: translate(427%, -67%);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.text3{
    width: 250px;
    height: 93px;
    font-family: "MontserratMedium", Times, serif;
    font-size: 32px;
    color: #393939;
    background-color: #84B6A3;
    padding-top: 24px;
}

.text3:before{
    content: "";
    display: block;
    position: absolute;
    height: 93px;
    width: 150px;
    background-color:  #84B6A3;
    transform: translate(-100%, -26%);
}

.text3:after{
    content: "";
    display: block;
    position: absolute;
    height: 93px;
    width: 50px;
    background-color: #84B6A3;
    transform: translate(500%, -68%);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}



.text4{
    margin-top: 32px;
    font-family: "MontserratMedium", Times, serif;
    font-size: 16px;
}

.join{
    color: #84B6A3;
    font-family: "MontserratSemiBold", Times, serif;
    border-bottom: none;
}


/*section2*/
.section2{
    width: 1366px;
    height: 260px;
    background-color: #669885;
    margin: 0 auto;
    padding-top: 80px;

}

.container-section2{
    width: 750px;
    height: 92px;
    margin: 0 auto;
    background-color: #669885;
    color: #FFFFFF;
    font-size: 32px;
    font-family: "MontserratMedium", Times, serif;
}

.container-section2 p{
    margin-top: 7px;
    margin-bottom: 0;
}